<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
</head>
<body>
<header>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Thế giới điện thoại</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="tel:0868303232" class="nav-link active" aria-current="page">
                        <i class="fa-solid fa-phone"></i>
                        Gọi mua hàng</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fa-solid fa-truck"></i>Tra cứu đơn hàng</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i>Giỏ hàng</a></li>
                <li class="nav-item"><a href="/login" class="nav-link">Đăng nhập</a></li>
            </ul>
        </header>
    </div>

</header>

</body>
</html>