<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <title>Thanh toán thành công</title>
</head>

<body>
<!-- back to top -->

<!-- start body -->
<div class="body py-5">
    <div class="container">
        <div class="w-50 m-auto">
            <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
            <h1 class="my-3 text-success text-center">Đặt hàng thành công</h1>
            <h1 class="my-3 text-center">Cảm ơn anh chị đã luôn tin tưởng, đơn hàng đang được xét duyệt và gửi tới anh chị trong thời gian sớm nhất</h1>
            <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
            <!-- Sử dụng lớp "table" và "table-bordered" để tạo ra bảng hiển thị thông tin chi tiết đơn hàng -->
            <div class="justify-content-between">
                <a href="/" class="btn btn-primary">Về trang chủ</a>
            </div>

        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>