<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <title>Trạng thái đăng kí</title>
</head>

<body>
<!-- back to top -->

<!-- start body -->
<div class="body py-5">
    <div class="container">
        <div class="w-50 m-auto">
            <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
            <h1 class="my-3 text-center">Trạng thái đăng kí</h1>
            <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
            <h2 class="my-2 text-center" th:text="${status}"></h2>
            <!-- Sử dụng lớp "table" và "table-bordered" để tạo ra bảng hiển thị thông tin chi tiết đơn hàng -->

            <div class="justify-content-between">
                <a th:href="${status == 'Đăng kí thành công' ? '/': '/signin'}" class="btn btn-primary"
                   th:text="${status == 'Đăng kí thành công' ? 'Về trang chủ': 'đăng kí lại'}">Về trang chủ</a>
            </div>

        </div>
    </div>
</div>
<!-- end body -->


<!-- start footer -->
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</body>

</html>